[submodule "user_scripts/XAudioJS"]
	path = user_scripts/XAudioJS
	url = https://github.com/taisel/XAudioJS.git
[submodule "user_scripts/taisel/XAudioJS"]
	path = user_scripts/taisel/XAudioJS
	url = https://github.com/taisel/XAudioJS.git
